

#userPopover {
    width: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none
}

#userPopover .popover-content {
    padding-left: 0;
    padding-right: 0
}

#userPopover .dh {
    border: 1px solid #e9ecef
}

#userPopover .item {
    font-size: 16px;
    padding: 10px 0;
    text-indent: 18px;
    display: block;
    cursor: pointer;
    color: #1d2124
}

#userPopover .item:hover {
    background-color: #e9ecef;
    color: #1d2124
}

#userPopover .logout {
    padding: 10px 0;
    text-indent: 18px;
    border-top: 1px solid #e9ecef
}

/**************** 文章列表 ********************/
.articleList-box .box {
    margin: 10px
}

.articleList-box  .box .box_title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold
}

.articleList-box .box .box_body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto
}

.articleList-box .article {
    margin: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px
}

.articleList-box .article a, .article a:hover {
    color: #414142;
    text-decoration: none
}

.articleList-box .article .title {
    margin: 5px 10px;
    font-size: 16px;
    height: 30px;
    line-height: 30px
}

.articleList-box .article .content {
    margin: 0 10px;
    font-size: 14px;
    min-height: 50px;
    max-height: 80px
}

.articleList-box .article .state {
    margin: 5px 10px;
    font-size: 12px;
    text-align: right
}

.articleList-box .pager {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 10px auto;
    text-align: center;
    font-size: 12px
}

.articleList-box .pager .item {
    height: 35px;
    line-height: 35px;
    border: 1px solid #b3b3b3;
    width: 20%;
    margin-right: 10px;
    color: #414142;
    text-decoration: none;
    border-radius: 5px
}

.articleList-box .pager a.item:hover {
    background-color: #eae4e4
}

.articleList-box .pager .last {
    margin-right: 0
}

.articleList-box .panel {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto
}

.articleList-box .panel .panel_title {
    height: 30px;
    line-height: 30px;
    background-color: #f7b15e
}

.articleList-box .panel .panel_body {
    border: 1px solid gainsboro;
    display: flex;
    flex-wrap: wrap;
    padding: 2px
}

.articleList-box .panel .panel_body .panel_item {
    font-size: 12px;
    padding: 2px 6px;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold
}

.articleList-box .panel .panel_body .item-red {
    background-color: #d44c4c
}

.articleList-box .panel .panel_body .item-blue {
    background-color: #1880f1
}

.articleList-box .panel .panel_body .item-green {
    background-color: #2e9044
}

.articleList-box .panel .panel_body .item-black {
    background-color: #6b737b
}

.articleList-box .panel .panel_body .item-orange {
    background-color: #d28b26
}